<option value="default" selected="selected">Start Time</option>
<option value="8 AM" style="font-family: Unisans-Thin;">8 AM</option>
<option value="9 AM" style="font-family: Unisans-Thin;">9 AM</option>
<option value="10 AM" style="font-family: Unisans-Thin;">10 AM</option>
<option value="11 AM" style="font-family: Unisans-Thin;">11 AM</option>
<option value="12 PM" style="font-family: Unisans-Thin;">12 PM</option>
<option value="1 PM" style="font-family: Unisans-Thin;">1 PM</option>
<option value="2 PM" style="font-family: Unisans-Thin;">2 PM</option>
<option value="3 PM" style="font-family: Unisans-Thin;">3 PM</option>
<option value="4 PM" style="font-family: Unisans-Thin;">4 PM</option>