<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bunker</title>
    <link rel="stylesheet" href="style.css">
</head>

<body style="background-color: rgba(28, 28, 124, 0.699)">
    <div class="container">
        <form action="/" method="POST">
            <div class="cardHolder">
                <div class="card allowOverflow fixedHeight">
                    <h2>1. ROUTINE:</h2>
                    <button class="accordion last" type="button">
                        <span id="0">Monday</span>
                        <span class="icon">&plus;</span>
                    </button>
                    <div class="routine">
                        <div class="routineModule"></div>
                        <div class="addRoutineButton">
                            <button type="button" class="addRoutine">Add a class</button>
                        </div>
                    </div>

                    <button class="accordion last" type="button">
                        <span id="1">Tuesday</span>
                        <span class="icon">&plus;</span>
                    </button>
                    <div class="routine">
                        <div class="routineModule"></div>
                        <div class="addRoutineButton">
                            <button type="button" class="addRoutine">Add a class</button>
                        </div>
                    </div>

                    <button class="accordion last" type="button">
                        <span id="2">Wednesday</span>
                        <span class="icon">&plus;</span>
                    </button>
                    <div class="routine">
                        <div class="routineModule"></div>
                        <div class="addRoutineButton">
                            <button type="button" class="addRoutine">Add a class</button>
                        </div>
                    </div>

                    <button class="accordion last" type="button">
                        <span id="3">Thursday</span>
                        <span class="icon">&plus;</span>
                    </button>
                    <div class="routine">
                        <div class="routineModule"></div>
                        <div class="addRoutineButton">
                            <button type="button" class="addRoutine">Add a class</button>
                        </div>
                    </div>

                    <button class="accordion last" type="button">
                        <span id="4">Friday</span>
                        <span class="icon">&plus;</span>
                    </button>
                    <div class="routine">
                        <div class="routineModule"></div>
                        <div class="addRoutineButton">
                            <button type="button" class="addRoutine">Add a class</button>
                        </div>
                    </div>


                </div>

                <div class="card divideIntoTwo">
                    <div class="innerCard grid allowOverflow">
                        <h2>2. Classroom Links:</h2>
                        <div class="links">
                            <div class="link">
                                <select id="subjectNameSelection" class="timeSelection">
                                    <option value="default" selected>Subject</option>
                                </select>
                                <input type="text" name="subjectMeetLinkInput" class="subjectNameInput fillParent" placeholder="Google Classroom Link">
                                <button type="button" class="addLinkButton">&plus;</button>
                            </div>
                        </div>
                    </div>
                    <div class="innerCard">
                        <h2>3. Something else:</h2>
                    </div>

                </div>

            </div>
        </form>
    </div>






    <!-- Scripts -->
    <script type="text/javascript" src="index.js"></script>
</body>

</html>