<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bunker</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="container">
        <div class="loginForm">
            <h1>LOGIN</h1>
            <form id="loginFormElement" method="POST" action="/login">
                <div class="formElement"><input type="text" name="email" id="loginEmailInput" placeholder="Email or Phone"></div>
                <div class="formElement"><input type="password" name="password" id="loginPasswordInput" placeholder="Password"></div>
                <div class="formElement formButton"><button type="submit">Log In</button></div>
            </form>

            <a href="/register" id="toRegisterLink">
                <div>
                    <p>New user? <b>Sign Up!</b></p>
                </div>
            </a>

        </div>

        

    </div>

</body>

</html>
