<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bunker</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- <%- include('partials/errorHandling') %> -->

    <div class="container">
        <div class="loginForm">
            <h1>LOGIN</h1>
            <!-- <% if(locals.error) { %>
                <p id="error" style="display: none;">
                    <%= error %>
                </p>
                <script>
                    var error = document.getElementById('error');
                    alert(error.innerText);
                </script>
                <% } %> -->
            <!-- <% if(locals.error) { %>
                <p class="unisansThin" id="error">
                    <%= error %>
                </p>
                <% } else { %>
                    <p class="unisansThin" id="error" style="opacity: 0;">Hello</p>
                    <% } %> -->
            <p class="unisansThin" id="error">Enter a valid email and password!</p>
            <form id="loginFormElement" method="POST" action="/login" name="loginForm" onsubmit="return checkForm()">
                <div class="formElement"><input type="text" name="email" id="loginEmailInput" placeholder="Email or Phone"></div>
                <div class="formElement"><input type="password" name="password" id="loginPasswordInput" placeholder="Password"></div>
                <div class="formElement formButton"><button id="loginButton" type="submit">Log In</button></div>
            </form>

            <a href="/register" id="toRegisterLink">
                <div>
                    <p>New user? <b>Sign Up!</b></p>
                </div>
            </a>

        </div>



    </div>


    <!-- scripts -->
    <script type="text/javascript" src="errorHandling.js"></script>
</body>

</html>