<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bunker</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="container">
        <div class="loginForm">
            <h1>Sign Up</h1>
            <form id="loginFormElement" method="POST" action="/register">
                <div class="formElement"><input type="text" name="email" id="loginEmailInput" placeholder="Email or Phone"></div>
                <div class="formElement"><input type="password" name="password" id="loginPasswordInput" placeholder="Password"></div>
                <div class="formElement"><input type="password" name="rePassword" id="loginReenterPasswordInput" placeholder="Re-enter password"></div>
                <div class="formElement formButton"><button type="submit">Sign Up</button></div>
            </form>

            <a href="/login" id="toRegisterLink">
                <div>
                    <p>Already a user? <b>Log in!</b></p>
                </div>
            </a>

        </div>

        

    </div>

</body>

</html>
