/* fonts for the website */

@font-face {
    font-family: 'Unisans-Heavy';
    src: url('./fonts/UniSansDemo-HeavyCAPS.otf');
}

@font-face {
    font-family: 'Unisans-Thin';
    src: url('./fonts/UniSansDemo-ThinCAPS.otf');
}


/* class to add fontfamily wherever necessary */

.unisansThin {
    font-family: 'Unisans-Thin';
}

.unisansHeavy {
    font-family: 'Unisans-Heavy';
}

* {
    margin: 0;
    padding: 0;
}

input::placeholder {
    font-family: 'Unisans-Thin';
}

button {
    font-size: larger;
    font-family: 'Unisans-Heavy';
    padding: 10px 20px;
    background: none;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

select:focus,
input:focus,
button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
    background-color: rgba(28, 28, 124, 0.699);
    color: white;
}

h1 {
    font-size: 60px;
    margin-bottom: 40px;
    font-family: 'Unisans-Heavy';
    letter-spacing: 5px;
    color: rgba(28, 28, 124, 0.699);
}

h2 {
    font-family: 'Unisans-Heavy';
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Unisans-Thin';
    border: 1px solid rgba(128, 128, 128, 0.5);
}

a:hover {
    background-color: rgba(28, 28, 124, 0.699);
    color: white;
}

.container {
    width: 100%;
    height: 100%;
}


/* login page designs */

.loginForm {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formElement {
    width: 100%;
    margin-bottom: 40px;
}

.formElement>input {
    width: 95%;
    line-height: 2;
    padding: 5px 10px;
    font-size: large;
}

.cardHolder {
    width: inherit;
    height: auto;
    display: flex;
}

.card {
    margin: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    flex: 1;
}

.accordion {
    display: flex;
    justify-content: space-between;
    text-align: start;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
}

.active,
.accordion:hover {
    background-color: 1px solid rgba(28, 28, 124, 0.699);
    border: 1px solid white;
}

.active {
    border-bottom: none;
}

.routine {
    display: none;
    border: 1px solid white;
    border-top: none;
    padding: 10px;
}

.addRoutineButton {
    width: inherit;
    text-align: center;
}

.addRoutineButton>button {
    border: 1px solid white;
    font-size: medium;
}

.addRoutineButton>button:hover {
    border: 1px solid rgba(28, 28, 124, 0.699);
}

.routineModule {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.individualRoutine {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    /* border: 1px solid black; */
    /* border-bottom: none; */
}

.timeSelection,
.subjectNameInput {
    margin: 10px;
    font-size: 16px;
    padding: 5.5px;
    font-family: 'Unisans-Thin';
    color: white;
}

.subjectNameInput {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    text-transform: uppercase;
}

.subjectNameInput::placeholder {
    color: white;
}

.timeSelection {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
}

.timeSelection:focus {
    border: none;
    border-bottom: 2px solid white;
}

.timeSelection>option {
    font-size: 14px;
    opacity: 0.5;
    background-color: rgba(28, 28, 124, 0.699);
    color: white;
}

.timeSelection>option:hover {
    background-color: rgba(28, 28, 124, 0.699);
}

#toRegisterLink>div {
    width: inherit;
    padding: 10px 0;
    /* background-color: rgba(128, 128, 128); */
}

.divideIntoTwo {
    width: auto;
    height: 85vh;
    display: grid;
    grid-template-rows: 70% 30%;
}

.submitForm {
    width: 100%;
    text-align: center;
}

.fixedHeight {
    max-height: 85vh;
}

.allowOverflow {
    overflow-y: scroll;
    scrollbar-width: none;
}

.allowOverflow::-webkit-scrollbar {
    display: none;
}

.grid {
    display: grid;
    grid-template-rows: 10% 90%;
}

.links {
    border: 1px solid rgb(255, 255, 255, 0.5);
    margin: 5px;
}

.link {
    display: grid;
    grid-template-columns: 20% 70% 10%;
}

.removeLinkButton,
.addLinkButton {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px;
    margin: 10px;
}

.removeLinkButton:hover,
.addLinkButton:hover {
    border: 1px solid rgba(28, 28, 124, 0.699);
}

.last {
    margin-bottom: 10px;
}

button.addRoutine,
button.doneRoutine {
    width: 48px;
    height: 48px;
    text-align: center;
    padding: 0;
}


/* Responsive shit  */

@media only screen and (max-width: 800px) {
    h2 {
        font-size: 24px;
    }
    .cardHolder {
        display: block;
    }
    button.addRoutine {
        font-size: smaller;
    }
    .individualRoutine {
        display: flex;
        justify-content: space-evenly;
    }
    .timeSelection,
    .subjectNameInput {
        font-size: 10px;
    }
    .timeSelection>option {
        font-size: 10px;
    }
    .divideIntoTwo {
        height: auto;
        display: block;
    }
    .link {
        grid-template-columns: 30% 50% 20%;
    }
    button.addLinkButton {
        font-size: smaller;
        padding: 5px;
        margin: 10px;
    }
}